[package]
name = "tab"
version = "0.2.0"
description = ["a modern terminal multiplexer designed for overwhelmed software & systems engineers"]
keywords = ["cli", "terminal", "tool"]
category = "Command line utilities"
authors = ["Austin Jones <implAustin@gmail.com>"]
edition = "2018"


[[bin]]
name = "tab"
path = "src/main.rs"

[dependencies]
tab-api = { path = "../common/tab-api" }
tab-cli = { path = "../tab-cli" }
tab-daemon = { path = "../tab-daemon" }
tab-pty = { path = "../tab-pty" }
clap = "2.33.2"
anyhow = "1.0"

[build-dependencies]
clap = "2.33"
